body{
    margin: 0;
    display: block;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
}
#sticky-header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}
.nav-container{
    padding-top: 1.5em;
    padding-bottom: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.outer-container, .nav-container{
    padding-left: 2em;
    padding-right: 2em;
}
.outer-container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.site-logo{
    width: 50px;
    height: 50px;
    display: block;
    overflow: visible;
    border: 5px solid #505050;
    position: relative;
    transform: rotate(0deg);
    transition: transform .4s ease-in-out;
    flex-shrink: 0;
}
a{
    text-decoration: none;
    margin-bottom: 1em;
    font-weight: 700;
    cursor: pointer;
    color: #505050;
}
.site-logo .logo-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
    transition: transform .4s ease-in-out;
    font-weight: 700;
    font-size: 16px
}
.site-logo:hover {
    opacity: 1;
    transform: rotate(-180deg);
    transition: transform .3s ease-in-out;
}
.site-logo:hover .logo-text {
    transform: translate(-50%,-50%) rotate(180deg);
    transform-origin: center;
}
.nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-list{
    padding: 0;
    list-style: none;
}
h5, li.nav-list{
    font-size: 1.5em;
    line-height: 1em
}
h1, h2, h3, h4, h5, h6, li {
    font-weight: 700;
    margin: 0;
}
.nav-list a {
    font-size: 1em;
    color: #505050;
    text-decoration: none;
}
.nav-list a:hover{
    border-bottom: 2px solid #66afca;
    opacity: 1;
}
li{
    margin-bottom: 1.5em;
    padding-bottom: 2em;
}
.nav-list:not(:first-child){
    margin-left: 2em;;
}
.hero{
    padding-top: 3em;
    padding-bottom: 6em;
}
.inner-container, .outer-container {
    padding-left: 2em;
    padding-right: 2em;
}
.inner-container{
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 6em;
    line-height: 1.5em;
    margin-bottom: 1em;
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 500;
}
.space-bottom{
    margin-bottom: 4em;
}
.content{
    padding-top: 170px;
}
img{
    display:block;
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}
h3{
    font-size: 1.65em;
    line-height: 1em;
    margin-bottom: 2em;
}
p {
    font-size: 1.5em;
    line-height: 2em;
    margin-bottom: 1.5em;
}